.checkbox-wrapper {
  display: flex;
  align-items: center;
  .ant-checkbox-inner {
    width: 24px;
    height: 24px;

    &:after {
      width: 10px;
      height: 15px;
      top: 10px;
    }
  }
}
